@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "poppins";
}

/* #main {
  background-color: rgb(91, 91, 91);
} */

.img2 {
  background-attachment: fixed;
}


.boxsh:hover{
    box-shadow: 0px 2px 25px -7px rgba(255,255,255,0.75);;
}